<div class="min-h-screen bg-cream ">
  <!-- Hero Section with Invitation (back1) -->
  <section class="relative bg-cover bg-center h-screen" style="background-image: url('https://res.cloudinary.com/ddectuilp/image/upload/v1727538211/Mariachis/back1_ngci53.jpg');">
    <div class="absolute inset-0 bg-black bg-opacity-40"></div>
    <div  data-aos="fade-up" class="relative z-10 flex flex-col justify-center items-center h-full text-center text-white px-4">
      <h1  class="text-5xl md:text-6xl font-bold mb-4 drop-shadow-lg">¡Celebra a lo grande con Mariachis!</h1>
      <p class="text-lg md:text-xl mb-6 drop-shadow-md">
        Música auténtica que hará tu evento inolvidable.
      </p>
      <a href="https://wa.me/+56979126320" target="_blank" class="bg-primary text-white py-3 px-6 rounded-lg text-lg hover:bg-secondary transition duration-300 shadow-lg">
        Contáctanos
      </a>
    </div>
  </section>

  <!-- Sección de color intermedio (Background color del footer) -->
  <section class="bg-primary text-white h-screen flex flex-col justify-center items-center text-center"  >
    <h2  data-aos="fade-up" class="text-4xl font-bold mb-6">Servicio de Calidad</h2>
    <p  data-aos="fade-up" class="text-lg md:text-xl mb-4">Llevamos la mejor música a tus celebraciones.</p>
  </section>

  <!-- Sección 2: Servicios Económicos (back3) -->
  <section class="relative bg-cover bg-center h-screen" style="background-image: url('https://res.cloudinary.com/ddectuilp/image/upload/v1727538210/Mariachis/back3_j91uhn.jpg');" >
    <div class="absolute inset-0 bg-black bg-opacity-40"></div>
    <div  data-aos="fade-up" class="relative z-10 flex flex-col justify-center items-center h-full text-center text-white px-4">
      <h2 class="text-5xl font-bold mb-6">Precios Accesibles</h2>
      <p class="text-lg md:text-xl mb-6">Calidad y economía, todo en uno.</p>
    </div>
  </section>

  <!-- Sección de color intermedio (Background color del footer) -->
  <section class="bg-primary text-white h-screen flex flex-col justify-center items-center text-center" data-aos="fade-up" >
    <h2   data-aos="fade-up" class="text-4xl font-bold mb-6">Experiencia Garantizada</h2>
    <p  data-aos="fade-up" class="text-lg md:text-xl mb-4">Años creando momentos inolvidables.</p>
  </section>

  <!-- Sección 3: Experiencia Garantizada (back4) -->
  <section class="relative bg-cover bg-center h-screen" style="background-image: url('https://res.cloudinary.com/ddectuilp/image/upload/v1727538210/Mariachis/back4_u41iog.jpg');" data-aos="fade-up" >
    <div class="absolute inset-0 bg-black bg-opacity-40"></div>
    <div  data-aos="fade-up"class="relative z-10 flex flex-col justify-center items-center h-full text-center text-white px-4">
      <h2 class="text-5xl font-bold mb-6">Momentos Únicos</h2>
      <p class="text-lg md:text-xl mb-6">Cada nota, una experiencia inolvidable.</p>
    </div>
  </section>

  <!-- Footer Section with Contact Info -->
  <footer class="bg-primary text-white py-6">
    <div class="container mx-auto px-4 text-center">
      <p class="text-lg font-semibold">
        ¿Listo para hacer tu evento inolvidable?
      </p>
      <a href="https://wa.me/+56979126320" target="_blank"  class="mt-4 inline-block bg-secondary text-white py-2 px-4 rounded-lg text-lg hover:bg-opacity-90 transition duration-300">
        Contáctanos ahora
      </a>
      <p class="mt-4 text-sm">
        También puedes llamarnos al <a href="tel:+56979126320" class="underline">+56979126320</a>
      </p>
    </div>
  </footer>
</div>

<!-- <audio autoplay loop>
  <source src="https://res.cloudinary.com/ddectuilp/video/upload/v1727538214/Mariachis/audiofondo_y7t5yl.mp3" type="audio/mpeg">
  Tu navegador no soporta la reproducción de audio.
</audio> -->
